<div class="container">
  
  <ul class="list-group">
    <li class="list-group-item">nom : {{info.name}}</li>
    <li class="list-group-item">email : {{info.email}}</li>
    <li class="list-group-item">tel : {{info.tel}}</li>
  </ul>
      <form #form="ngForm" (ngSubmit)="onAddCommantaire(form.value)" >
        <div class="form-group">
          <label for="c"></label>
          <!--two way binding-->
          <!--<input  type="text" name="c" id="c" class="form-control" placeholder="" aria-describedby="helpId" [(ngModel)]="commantaire.msg"> -->
          <input required type="text" [(ngModel)]="commantaire.msg" name="message" ngModel id="c" class="form-control" placeholder="" aria-describedby="helpId" >
          <small id="helpId" class="text-muted">Help text</small><br>
           
        </div>
        <!-- <button [disabled]="!commantaire.msg" type="button" class="btn btn-primary" (click)="onAddCommantaire()">ajouter</button> -->
        <button [disabled]="!form.valid"  type="submit" class="btn btn-primary" >ajouter</button>
         <br>
      </form>
        <table class="table">
          <tr>
            <th>contenu</th>
            <th>date</th>
          </tr>
          <tr *ngFor="let c of comments">
                    <td>{{c.msg}}</td>
                    <td>{{c.date | date:'dd/mm/yyyy H:m'}}</td>
          </tr>
        </table>

   
  
</div>